/* You can add global styles to this file, and also import other style files */



:root{
    --section-color: #10101A;
    --secondary-color: #FF4904;
    --background-color: #0B0B13;
    --text-gray: #b9bdcc;
    --text-dark-gray: #6E7281;
}